.login {
  width: 100%;
  height: 100vh;
  .login--header {
    height: 250px;
    background-image: linear-gradient(to bottom, #009989, #004d45);
    padding-top: 80px;
    text-align-last: right;
    padding-right: 30px;

    .login--header__welcome {
      font-size: 22px;
      text-align: center;
      color: #ffffff;
    }

    .login--header__second {
      font-size: 18px;
      text-align: center;
      color: #ffffff;
    }

    .login--header__third {
      height: 19px;
      font-family: IRANSansWeb;
      font-size: 14px;
      text-align: center;
      color: #ffffff;
    }
  }

  .login--mobile-input {
    width: 100%;
    text-align: center;
    margin-top: 1em;

    .login--mobile-input__input {
      height: 40px;
      width: 280px;
      margin: 10px 0.5px 0 0;
      border: none;
      border-bottom: 1px solid #efefef;
      text-align: right;
      font-family: IRANSansWeb;

      &:focus-visible {
        outline: none;
      }
    }
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 48px;
  font-size: 14px;
  border: none;
  border-color: #efefef;
  border-radius: 2px;
  color: #dcdcdc;
  background-color: #efefef;
  font-family: IRANSansWeb;
}
