$font: IRANSansWeb, tahoma, sans-serif;
@font-face {
  font-family: IRANSansWeb;
  //src: url("src/assets/fonts/woff/IRANSansWeb.woff") format("woff");
  src: url("./assets/fonts/woff/IRANSansWeb.woff") format("woff");
}

body {
  font-family: $font;
  margin: unset;
  width: 100%;
}

.container {
  max-width: 80%;
  margin: 0 10%;

  @media (min-width: 576px) {
    max-width: 480px;
    margin: 0 auto;
  }
}
